#cadre{
  width: 800px;
  height: 800px;
  margin: auto;
  /*background-color: #000;*/
  background-image:  url("back1.jpg");
  background-size: cover;
  position: relative;
}
#pion{
  /*background-color: yellow;*/
  background-image: url("op.jpg");
  background-size: contain;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
