.back {
  background:
    linear-gradient(rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)),
    url("back3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

#plateau {
  position: relative;
}

#pion {
  width: 40px;
  height: 40px;
  /*background-color: blue;
  border-style: double;
  border-color: grey;
  border-width: 1px;*/
  background-image: url("tux-batman.png");
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  background-size: contain;
  background-position: center;
  top: 0px;
  left: 0px;
}

#vilain {
  width: 40px;
  height: 40px;
  position: absolute;
  /*background-color: black;*/
  background-image: url("bill.png");
  background-size: contain;
  left: 0;
  top: 0;
  z-index: 95;
}

#vilain2 {
  width: 40px;
  height: 40px;
  position: absolute;
  /*background-color: black;*/
  background-image: url("bill.png");
  background-size: contain;
  left: 0;
  top: 0;
  z-index: 95;
}

#vilain3 {
  width: 40px;
  height: 40px;
  position: absolute;
  /*background-color: black;*/
  background-image: url("bill.png");
  background-size: contain;
  left: 0;
  top: 0;
  z-index: 95;
}

.title1 {
  font-size: 26px;
}

.characters {
  max-height: 40px;
  margin-bottom: 20px;
}
