body{
  background-color: grey;
}

#plateau{
  background-color: white;
  margin: auto;
  position: relative;

}
#pion{
  width: 40px;
  height: 40px;
  /*background-color: blue;
  border-style: double;
  border-color: grey;
  border-width: 1px;*/
  background-image: url("tux-batman.png");
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
}

#vilain{
  width: 40px;
  height: 40px;
  position: absolute;
  /*background-color: black;*/
  background-image: url("bill.png");
  background-size: contain;
}
